{% extends 'base.njk' %}
{% block bodyclass %}h-entry{% endblock %}
{% block header %}
    <h1 class="p-name">{{ title }}</h1>
    <p>
        <time datetime="{{ page.date | timeValue }}">{{ page.date | monthYear }}</time>
    </p>
    <p>By
        <a href="/" rel="author" class="p-author">Larry Hudson</a>
    </p>
{% endblock %}
{% block body %}
    {% if mp3Url %}
        <audio controls>
            <source src="{{ mp3Url }}" type="audio/mpeg"/> Your browser does not support the audio element.
        </audio>
    {% endif %}
    <main class="e-content">
        {{ content|safe }}
    </main>
    <footer style="font-size: smaller">
        <p>Page URL:
            <a href="{{ page.url }}" class="u-url">{{ page.url }}</a>
        </footer>
    {% endblock %}