---
pagination:
  data: collections.generateOgImage
  size: 1
  alias: currentPage
permalink: "/tmp/og-image-content{{currentPage.url}}"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/font.css"/>
    <style>
      html {
        width: 1260px;
        height: 621px;
      }
      * {
        box-sizing: border-box;
        margin: 0;
      }
      body {
        background-color: #1e1e1e;
        color: white;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
        outline: 0.5rem solid white;
        outline-offset: -1rem;
        height: 100%;
        width: 100%;
      }
      h1 {
        font-size: 4rem;
      }
      .excerpt {
        font-size: 2rem;
        margin-top: 2rem;
      }
      .bottom-bar {
        font-size: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
      }
      .date {
        font-style: italic;
      }
      h1 {
        font-family: 'Tilt Neon';
      }
    </style>
  </head>
  <body>
    <h1>{{ currentPage.data.title }}</h1>
    <p class="excerpt">{{ currentPage.data.excerpt }}</p>
    <div class="bottom-bar">
      <p class="date">{{currentPage.data.date | niceDate}}</p>
      <p>larryhudson.io</p>
    </div>
  </body>
</html>