---
title: Search
layout: search.njk
---

{% block searchform %}{% endblock %}
{% edge 'njk' %}
{% set searchQuery = eleventy.edge.query.search %}
<form method="get">
    <label for="search">Search</label>
    <input type="search" name="search" id="search" value="{{ searchQuery }}"/>
    <button>Search</button>
</form>
{% if not searchQuery %}
    <p>Use the search form above to search.</p>
{% else %}
    <h2>You searched for {{ searchQuery }}</h2>
    {% if searchResults.length > 0 %}
        <ul>
            {% for result in searchResults %}
                <li>
                    <a href="{{ result.url }}">{{ result.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No search results.<p>
            {% endif %}
        {% endif %}
        {% endedge %}</p>