<nav>
  <a class="name" href="/">
    <strong>Larry Hudson</strong><br />
    <span class="smaller">Web Developer and Programmer</span>
  </a>

  <ul role="list">
    <li><a href="/about/">About</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/notes/">Notes</a></li>
  </ul>
</nav>
